<div id="downloadPatientsDialog" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Download Patients</h3>
  </div>
  <%= form_for(@measure, :url => url_for(controller: :patients, action: :download), :html => {:method => "get", :class => 'form-stacked', :onsubmit => '$("#downloadPatientsDialog").modal("hide");'}) do |f| %>
    <div class="modal-body">
      <input type="hidden" name="measure_id" value="<%=@measure.id%>"/>
      <%= f.label :format, "Select patient format:" %>
      <%= select(:download, :format, ["c32", "ccr", "ccda","qrda", "html"]) %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Download", class: 'btn btn-primary' %>
      <a href="#" data-dismiss="modal" class="btn secondary">Cancel</a>
    </div>
  <% end %>
</div>
