<div id="code_set[<%= code_set_id %>]" class="well">
  <%= f.fields_for "code_sets[#{code_set_id}]" do |code_set_fields| %>
    <div class="control-group row">
      <legend>Code Set <%= code_set_id %></legend>
      <%= code_set_fields.label :code_set, :class=>'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :code_set, :value => 'ICD-9-CM' %>
      </div>
      
      <%= code_set_fields.label :category, :class=>'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :category, :value => 'category' %>
      </div>
      
      <%= code_set_fields.label :concept, :class => 'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :concept, :value => 'concept' %>
      </div>
      
      <%= code_set_fields.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :description, :value => 'description' %>
      </div>

      <div class="row span4">
        <div id="codes" class="control-group">                
            <%= code_set_fields.label :codes, :class => "control-label" %>
            <a class="btn btn-primary btn-small">Add Codes +</a>
            <div class="controls row span3">
              <%= code_set_fields.text_field 'codes[0]', :class => 'input-small', :value => 'code0' %><br>
              <%= code_set_fields.text_field 'codes[1]', :class => 'input-small', :value => 'code1' %><br>
            </div>
        </div>
      </div>
      
      <%= code_set_fields.label :key, :class => 'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :key, :value => 'key' %>
      </div>
      
      <%= code_set_fields.label :oid, :class => 'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :oid, :value => '1.2.3' %>
      </div>

      <%= code_set_fields.label :organization, :class => 'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :organization, :value => 'organization' %>
      </div>
      
      <%= code_set_fields.label :version, :class => 'control-label' %>
      <div class="controls">
        <%= code_set_fields.text_field :version, :value => 'version' %>
      </div>
      
    </div>
  <% end %><!-- fields_for code_sets[n]-->
</div><!-- code_sets[n] end -->