  <tr>
    <td><%= measure.measure_id %></td>
    <td><%= link_to measure.title, measure %></td>
    <td><%= measure.version %></td>
    <td><%= measure.published ? "published" : "draft" %></td>
    <td><%= measure.publish_date %></td>
    <td>
      <%= link_to 'Test', debug_path(measure) %> | <%= link_to 'Edit', edit_measure_path(measure) %> | <%= link_to 'NQF', show_nqf_measure_path(measure), :target => "_blank" %> | <%= link_to 'delete', measure_path(measure), :confirm => 'Are you sure you want to delete this measure?', :method => :delete %>
    </td>
  </tr>